* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    font-weight: 100;
}

.search-box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search {
    border: 2px solid #E2E2E2;
    border-radius: 6px;
    width: 50%;
    height: 3em;
    padding-left: 1em;
    margin: 2em 0;
}

#search::placeholder {
    font-size: 0.8em;
}

.gallery {   
    display: grid;    
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-template-rows: repeat(auto-fit, minmax(200px, 200px));
    grid-gap: 2em;
    margin: 0 4em;
    justify-content: center;
}